@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap");
body { font-family: 'Josefin Sans'; margin: 0; padding: 0; }

h1 { font-size: 64px; font-weight: 600; letter-spacing: 0.3em; line-height: 1.2em; text-transform: uppercase; margin: 8px 0; }

p { font-size: 16px; font-weight: 400; line-height: 2em; margin: 8px 0; }

#container { display: grid; grid-template-columns: 1.3fr 1fr; grid-template-rows: 1fr 3fr; height: 100vh; }

@media screen and (max-width: 768px) { #container { grid-template-columns: auto; grid-template-rows: 84px 250px auto; grid-row-gap: 40px; padding-bottom: 64px; } }

#header { grid-row: 1 / span 1; grid-column: 1 / span 1; padding: 16px 16px; }

@media screen and (max-width: 768px) { #header { display: -webkit-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-pack: center; justify-content: center; grid-row: 1 / span 1; grid-column: auto; padding: 24px 32px; margin-bottom: -40px; } }

#header #logo-wrapper { width: 420px; margin: 0 auto; padding: 72px 0; }

@media screen and (max-width: 768px) { #header #logo-wrapper { width: 100%; margin: 0 auto; padding: 0; } }

@media screen and (max-width: 768px) { #header #logo-wrapper img { height: 28px; } }

#hero { background-image: url(../images/hero-desktop.jpg); background-repeat: no-repeat; background-size: cover; height: 100%; width: 100%; grid-row: 1 / span 2; grid-column: 2 / span 1; }

@media screen and (max-width: 768px) { #hero { background-image: url(../images/hero-mobile.jpg); grid-row: 2 / span 1; grid-column: auto; } }

#main { background-image: url(../images/bg-pattern-desktop.svg); background-repeat: no-repeats; background-size: cover; display: -webkit-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; grid-row: 2 / span 1; grid-column: 1 / span 1; }

@media screen and (max-width: 768px) { #main { background-image: none; grid-row: 3 / span 1; grid-column: auto; } }

#main #coming-soon { width: 420px; max-width: calc(100% - 48px); margin: 0 auto; }

@media screen and (max-width: 768px) { #main #coming-soon { width: calc(100% - 0px); text-align: center; } }

#main #coming-soon h1 { color: #413a3a; }

@media screen and (max-width: 768px) { #main #coming-soon h1 { font-size: 2.5em; } }

#main #coming-soon h1 span#first-word { color: #ce9797; font-weight: 300; }

#main #coming-soon p { color: #ce9797; padding-top: 8px; padding-bottom: 8px; }

#main #coming-soon #newsletter { padding: 16px 0; }

#main #coming-soon #newsletter label { display: none; }

#main #coming-soon #newsletter input[type="email"] { border: 1px solid #e2d5d7; border-radius: 99px; box-sizing: border-box; font-family: 'Josefin Sans'; font-size: 16px; padding-left: 24px; padding-right: 56px; height: 45px; width: 100%; }

#main #coming-soon #newsletter input[type="email"]::-webkit-input-placeholder { color: #e2d5d6; }

#main #coming-soon #newsletter input[type="email"]::-moz-placeholder { color: #e2d5d6; }

#main #coming-soon #newsletter input[type="email"]:-ms-input-placeholder { color: #e2d5d6; }

#main #coming-soon #newsletter input[type="email"]::-ms-input-placeholder { color: #e2d5d6; }

#main #coming-soon #newsletter input[type="email"]::placeholder { color: #e2d5d6; }

#main #coming-soon #newsletter input[type="submit"] { background: url(../images/icon-arrow.svg) center no-repeat, -webkit-linear-gradient(315deg, #f8bfbf, #ee8c8c); background: url(../images/icon-arrow.svg) center no-repeat, linear-gradient(135deg, #f8bfbf, #ee8c8c); border: none; border-radius: 99px; margin-left: -56px; height: 45px; width: 56px; -webkit-transition: -webkit-transform 0.2s ease-in-out; transition: -webkit-transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }

#main #coming-soon #newsletter input[type="submit"]:hover { background: url(../images/icon-arrow.svg) center no-repeat, -webkit-linear-gradient(315deg, rgba(248, 191, 191, 0.7), rgba(238, 140, 140, 0.7)), white; background: url(../images/icon-arrow.svg) center no-repeat, linear-gradient(135deg, rgba(248, 191, 191, 0.7), rgba(238, 140, 140, 0.7)), white; -webkit-transform: scale(1.1); transform: scale(1.1); cursor: pointer; }
