@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

$break-point: 768px;
$copy-block-width: 420px;
$submit-button-width: 56px;

body {
  font-family: 'Josefin Sans';
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0.3em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 8px 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  margin: 8px 0;
}

#container {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr 3fr;
  height: 100vh;

  @media screen and (max-width: $break-point) {
    grid-template-columns: auto;
    grid-template-rows: 84px 250px auto;
    grid-row-gap: 40px;
    padding-bottom: 64px;
  }
}

#header  {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  padding: 16px 16px;

  @media screen and (max-width: $break-point) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1 / span 1;
    grid-column: auto;
    padding: 24px 32px;
    margin-bottom: -40px;
  }

  #logo-wrapper {
    width: $copy-block-width;
    margin: 0 auto;
    padding: 72px 0;

    @media screen and (max-width: $break-point) {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }

    img {
      @media screen and (max-width: $break-point) {
        height: 28px;
      }
    }
  }
}

#hero {
  background-image: url(../images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;

  @media screen and (max-width: $break-point) {
    background-image: url(../images/hero-mobile.jpg);
    grid-row: 2 / span 1;
    grid-column: auto;
  }
}

#main {
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeats;
  background-size: cover;
  display: flex;
  flex-direction: column;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;

  @media screen and (max-width: $break-point) {
    background-image: none;
    grid-row: 3 / span 1;
    grid-column: auto;
  }

  #coming-soon {
    width: $copy-block-width;
    max-width: calc(100% - 48px);
    margin: 0 auto;

    @media screen and (max-width: $break-point) {
      width: calc(100% - 0px);
      text-align: center;
    }

    h1 {
      color: hsl(0, 6%, 24%);

      @media screen and (max-width: $break-point) {
        font-size: 2.5em;
      }

      span#first-word {
        color: hsl(0, 36%, 70%);
        font-weight: 300;
      }
    }

    p {
      color: hsl(0, 36%, 70%);
      padding-top: 8px;
      padding-bottom: 8px;
    }

    #newsletter {
      padding: 16px 0;

      label {
        display: none;
      }

      input[type="email"] {
        border: 1px solid hsl(348, 18%, 86%);
        border-radius: 99px;
        box-sizing: border-box;
        font-family: 'Josefin Sans';
        font-size: 16px;
        padding-left: 24px;
        padding-right: $submit-button-width;
        height: 45px;
        width: 100%;

        &::placeholder {
          color: hsl(354, 19%, 86%);
        }
      }

      input[type="submit"] {
        background: url(../images/icon-arrow.svg) center no-repeat, linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        border: none;
        border-radius: 99px;
        margin-left: -$submit-button-width;
        height: 45px;
        width: $submit-button-width;
        transition: transform 0.2s ease-in-out;

        &:hover {
          background: url(../images/icon-arrow.svg) center no-repeat, linear-gradient(135deg, hsla(0, 80%, 86%, 0.7), hsla(0, 74%, 74%, 0.7)), white;
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}
